/* Content page styles */

.content_body {
    margin-left: 10%;
    margin-right: 10%;
}


.block {
    background-color: #23447e;
    width: 100%;
    height: 2em;
    font-size: 1.4em;
    color: green;
}

.command {
    position: relative;
    margin-left: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_text {
    margin-top: 2em;
    font-size: 0.9em;
    line-height: 1.3em;
    font-size: 1.2em;
}

h3 {
    color:#23447e;
    font-size: larger;
}