footer {
  background-color: #6476a0;
  color: #fff;
  padding: 20px 0;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 16%;
  margin: 10px;
}

.logo-section img {
  width: 100px;
  cursor: pointer;
  position: relative;
  left: 10px;
}

.logo-section p {
  font-size: 12px;
  position: relative;
  left: 10px;
}

.footer-menu-section h3 {
  color: #fff;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 5px;
}

.footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-menu li a:hover {
  color: #ccc;
}

.scroll-to-top {
  text-align: center;
}

.scroll-to-top a {
  color: #fff;
  text-decoration: none;
}

.scroll-to-top a:hover {
  color: #ccc;
}

/* Media query for screens less than 790px */
@media screen and (max-width: 790px) {
  .footer-section {
    font-size: 12px; /* Adjust the font size for smaller screens */
  }

  .logo-section img {
    width: 80px;
  }
}

@media screen and (max-width: 660px) {
  .footer-section {
    font-size: 10px;
  }

  .logo-section img {
    width: 60px;
  }
}

@media screen and (max-width: 450px) {
  .footer-section {
    flex-basis: 100%; /* Adjust the flex-basis value to control the width */
    flex-grow: 0;
    font-size: 14px;
    text-align: center;
  }

  .footer-section:not(:last-child) {
    margin-bottom: 20px;
  }
  .logo-section img {
    width: 120px;
  }
}
